@font-face {
  font-family: 'Instrument Sans';
  font-weight: 400;
  src: url('./fonts/instrument_sans_fonts/InstrumentSans-Regular.otf');
}
@font-face {
  font-family: 'Instrument Sans';
  font-weight: 500;
  src: url('./fonts/instrument_sans_fonts/InstrumentSans-Medium.otf');
}
@font-face {
  font-family: 'Instrument Sans';
  font-weight: 600;
  src: url('./fonts/instrument_sans_fonts/InstrumentSans-SemiBold.otf');
}

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 5rem;
  background-color: #eff0eb;
  color: #102e45;
  font-family: 'Instrument Sans';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Instrument Sans';
  font-weight: 600;
}
