@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap');

@font-face {
  font-family: 'Instrument Sans';
  src: url('./fonts/instrument_sans_fonts/InstrumentSans-Regular.otf');
}

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 5rem;
  background-color: #e0e0e0;
  font-family: 'Instrument Sans';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'EB Garamond', serif;
  font-weight: 600;
}
